In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.read_csv('../data/dengue_csv/combined_dengue_data.csv')
df2=pd.read_csv('../data/dengue_csv/extract_dengue_data.csv',index_col=0)
df3=pd.read_csv('../data/dengue_csv/dengue_dataset.csv')
df4=pd.read_csv('../data/dengue_csv/Dengue-worldwide-dataset-modified.csv')
df5=pd.read_csv('../data/dengue_csv/dengue.csv')

In [3]:
len(df2)

413

In [4]:
df1.head()

,ID,fever,headache,muscle pain,joint pain,rash,nausea,vomiting,eye pain,abdominal pain,lymphadenopathy,chills,diarrhea,fatigue,dengue
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1,2.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
2,3.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,4.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0
4,5.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0

In [6]:
df1=df1.drop('ID',axis=1)
df1['eye pain']= df1['eye pain'].fillna(0)
df1=df1.dropna()
df1['eye pain'] = np.random.choice([0, 1], size=len(df1))
df1.head()

,fever,headache,muscle pain,joint pain,rash,nausea,vomiting,eye pain,abdominal pain,lymphadenopathy,chills,diarrhea,fatigue,dengue
0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1,1.0,1.0,1.0,0.0,1.0,1.0
1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0,0.0,1.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1,1.0,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0,1.0,1.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1,1.0,1.0,0.0,1.0,0.0,1.0

In [7]:
df1.isnull().sum()

fever              0
headache           0
muscle pain        0
joint pain         0
rash               0
nausea             0
vomiting           0
eye pain           0
abdominal pain     0
lymphadenopathy    0
chills             0
diarrhea           0
fatigue            0
dengue             0
dtype: int64

In [8]:
pre_df1=df1.astype(float)

In [9]:
df2.head()

,ID,fever,headache,muscle pain,joint pain,rash,nausea,vomiting,eye pain,abdominal pain,lymphadenopathy,chills,diarrhea,fatigue,dengue
0,0,1,0,0,0,1,0,1,0,0,1,1,0,0,0
1,0,1,1,0,1,0,0,1,0,1,1,1,0,0,0
2,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0
3,0,1,1,0,0,0,1,1,0,1,1,1,0,0,0
4,0,1,1,0,0,1,1,1,0,0,1,1,0,0,0

In [10]:
df2=df2.drop('ID',axis=1)
df2.head()

,fever,headache,muscle pain,joint pain,rash,nausea,vomiting,eye pain,abdominal pain,lymphadenopathy,chills,diarrhea,fatigue,dengue
0,1,0,0,0,1,0,1,0,0,1,1,0,0,0
1,1,1,0,1,0,0,1,0,1,1,1,0,0,0
2,1,0,0,0,1,0,1,0,0,0,0,0,0,0
3,1,1,0,0,0,1,1,0,1,1,1,0,0,0
4,1,1,0,0,1,1,1,0,0,1,1,0,0,0

In [11]:
pre_df2=df2.astype(float)

In [12]:
df3.head()

,Temperature,Platelet_Count,White_Blood_Cell_Count,Body_Pain,Rash,Gender,Infected
0,98.249080,138060.514266,6854.650578,0,0,Female,False
1,99.401429,102193.912651,7347.397486,1,0,Female,False
2,98.963988,141755.585100,6011.997182,0,1,Male,False
3,98.697317,168269.474640,6852.807249,1,0,Male,True
4,97.812037,160752.598059,6800.937446,1,0,Female,True

In [13]:
pre_df3=df3.drop(['Platelet_Count','White_Blood_Cell_Count','Gender'],axis=1)
pre_df3=pre_df3.rename(columns={'Temperature':'temp','Body_Pain':'muscle pain','Rash':'rash','Infected':'dengue'})
pre_df3 = pre_df3.replace({True: 1, False: 0})
pre_df3=pre_df3.astype(float)
pre_df3.head()

/tmp/ipykernel_74548/2854447748.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pre_df3 = pre_df3.replace({True: 1, False: 0})

        temp  muscle pain  rash  dengue
0  98.249080          0.0   0.0     0.0
1  99.401429          1.0   0.0     0.0
2  98.963988          0.0   1.0     0.0
3  98.697317          1.0   0.0     1.0
4  97.812037          1.0   0.0     1.0

In [14]:
df4.head()

,dengue.p_i_d,dengue.date_of_fever,dengue.dwelling place,dengue.days,current_temp,dengue.wbc,dengue.servere_headche,dengue.pain_behind_the_eyes,dengue.joint_muscle_aches,dengue.metallic_taste_in_the_mouth,dengue.appetite_loss,dengue.addominal_pain,dengue.nausea_vomiting,dengue.diarrhoea,dengue.hemoglobin,dengue._hematocri,dengue.platelet,dengue_or_not
0,P001,13-Jan,Bangalore,10 days,100.0,5.0,yes,no,no,yes,yes,yes,no,yes,15.0,21,140,yes
1,P002,13-Feb,New Delhi,4 days,104.0,1.0,no,yes,yes,no,no,no,no,no,9.0,22,80,no
2,P003,9-Jan,Jamica,5 days,104.0,4.3,yes,no,no,yes,yes,yes,yes,no,9.3,24,120,yes
3,P004,12-Aug,Barbados,12 days,101.0,1.8,yes,yes,no,no,no,no,no,no,11.2,25,50,no
4,P005,12-Oct,St.Martin,3 days,101.0,3.2,yes,no,no,no,no,no,yes,no,13.6,22,95,no

In [15]:
pre_df4=df4.drop(['dengue.days','dengue.p_i_d','dengue.date_of_fever','dengue.dwelling place ','dengue.wbc','dengue.hemoglobin','dengue._hematocri','dengue.platelet'],axis=1)
pre_df4=pre_df4.rename(columns={'current_temp':'temp',
                                'dengue.servere_headche':'headache',
                                'dengue.pain_behind_the_eyes':'eye pain',
                                'dengue.joint_muscle_aches':'muscle pain',
                                'dengue.metallic_taste_in_the_mouth':'metallic taste',
                                'dengue.appetite_loss':'appetite_loss',
                                'dengue.addominal_pain':'addminal pain',
                                'dengue.nausea_vomiting':'nausea_vomiting',
                                'dengue.diarrhoea':'diarrhoea',
                                'dengue_or_not':'dengue'})

pre_df4 = pre_df4.replace({'yes': 1, 'no': 0})
pre_df4=pre_df4.dropna()
pre_df4=pre_df4.astype(float)
pre_df4.head()

/tmp/ipykernel_74548/416842895.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pre_df4 = pre_df4.replace({'yes': 1, 'no': 0})

,temp,headache,eye pain,muscle pain,metallic taste,appetite_loss,addminal pain,nausea_vomiting,diarrhoea,dengue
0,100.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
1,104.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,104.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
3,101.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,101.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [16]:
len(df4)

820

In [17]:
df5.head()

               Name  Fever  Headache  JointPain  Bleeding  Dengue
0       Jeremy Long      0         0          1         1       1
1  Cassandra Glover      1         1          1         0       1
2    Aaron Adams MD      0         1          1         0       0
3  Elizabeth Thomas      0         1          0         1       1
4      Mathew Perez      0         0          1         0       1

In [18]:
pre_df5=df5.drop('Name',axis=1)
pre_df5=pre_df5.rename(columns={'Fever':'fever','Headache':'headache','Joint Pain':'joint pain','Bleeding':'bleeding','Dengue':'dengue'})
pre_df5=pre_df5.astype(float)
pre_df5.head()

   fever  headache  JointPain  bleeding  dengue
0    0.0       0.0        1.0       1.0     1.0
1    1.0       1.0        1.0       0.0     1.0
2    0.0       1.0        1.0       0.0     0.0
3    0.0       1.0        0.0       1.0     1.0
4    0.0       0.0        1.0       0.0     1.0

In [19]:
len(df5)

1000000

In [68]:
pre_df1.to_csv('../data/preprocessed_data/df1.csv')
pre_df2.to_csv('../data/preprocessed_data/df2.csv')
pre_df3.to_csv('../data/preprocessed_data/df3.csv')
pre_df4.to_csv('../data/preprocessed_data/df4.csv')
pre_df5.to_csv('../data/preprocessed_data/df5.csv')